---
import { useSanityClient } from "astro-sanity";

import PortableText from '../components/PortableText.astro';

const posts = await useSanityClient().fetch(`*[_type == "post"]`);
// const authors = await useSanityClient().fetch(`*[_type == "author"]`);
const authors = await useSanityClient().fetch(`*[_type == "author" && slug.current == "rey-tan"]`);
const me = authors[0];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Rey Tan</title>
  </head>
  <body class="prose prose-slate dark:prose-invert mx-auto p-4 min-h-screen flex flex-col items-center justify-center bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
    <span class="text-gray-500">Hello! I'm</span>
    <h1>Rey</h1>

    <div>
      <PortableText portableText={me.bio} />
    </div>
  </body>
</html>
