---
import { useSanityClient } from 'astro-sanity';
import PortableText from '../../components/PortableText.astro';

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`);

  return posts.map((post) => {
    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post },
    };
  });
}

const { title, body } = Astro.props;

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title} | (Not a) Food Review | Rey Tan</title>
  </head>
  <body class="mx-auto p-4 max-w-lg min-h-screen flex flex-col bg-white dark:bg-gray-900 text-gray-900 dark:text-white">
    <div class="mb-12 text-gray-500">
      <a href="/food">&larr; Back to List</a>
    </div>

    <div class="prose prose-slate dark:prose-invert">
      <h1>{title}</h1>
      <PortableText portableText={body} />
    </div>
  </body>
</html>